body{
    background-color: aliceblue;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
}
.Section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
}